
<div class="container">
<div class="login">
  <img class="im" src="https://media.istockphoto.com/vectors/administrator-laptop-vector-id1216514124?k=20&m=1216514124&s=612x612&w=0&h=ATbQJqHRc-o5H0KYjMlJERiODQKJCdM_WlK62JhlSMA="height="100cm" width="120cm">
    <div class="login-triangle"></div>
    <h2 class="login-header">Log in</h2>
    <form class="login-container">
      <p>
          USERNAME
        <input type="email" placeholder="Email">
      </p>
      <p>PASSWORD<input type="password" placeholder="Password"></p>
      <p><input type="submit" value="LOG IN"></p>
      <p><a routerLink="register"routerLinkActive="active-link">REGISTER</a>
      </p>  
    </form>
  </div>
</div>