<div class="div">
    
        <ul class="contact_us_list">
            <h3 id="con">Contact us</h3> 
            <p class="para">Keep in touch with us !</p>    
            <p></p>   
            &nbsp;
            <img src="https://media.istockphoto.com/photos/business-people-shaking-hands-finishing-up-meeting-picture-id840614432?k=20&m=840614432&s=612x612&w=0&h=AYTFBrp6m892CpignR0LbsKw25EcIJLyUEy2fd--2ew=" height="" width="">    	
        <li><div class="contents"><span><img id="i"src="https://indianbloodbank.com/public/images/icon_mail.png" alt="" class="img-responsive"></span>
            <p></p>
            <p class="p1">Email<p>
            <a class="p3">query@infotrack.com</a>
        </div></li>
        
        <li><div class="contents"><span><img src="https://indianbloodbank.com/public/images/icon_location.png" alt="" class="img-responsive"></span>
            <p class="p1">Infotrack Technologies</p>
            <p class="p2">Keraleeyam Building, Near M.A.J Hospital,
, Chennai
, South India</p></div></li>   
        <li><div class="contents"><span><img src="https://indianbloodbank.com/public/images/icon_phone.png" alt="" class="img-responsive"></span>
            <p class="p1">Phone</p>
            <p class="p2">India : <a class="p3"> +91-773 670 1899</a></p></div></li>
    </ul>
    </div>
