<div class="container-fluid footer" id="foot"> 
    <div class="row">
         <div class="col-lg-6">
              <h3 id="h">| ©   2022 Innotrack Technologies Pvt Ltd.  |</h3>
             </div>
             <div class="" id="img" >
                <a routerLink="privacy">Privacy Policy</a>|
                 <a routerLink="terms">Terms of Service</a>|
                 <a routerLink="contact">Contact Us</a>
                 </div>
                 <div class="col-lg-2" id="img" >
                  <a href="#" target="_blank"><i class="bi bi-facebook"></i></a>&nbsp;
                  <a href="#" target="_blank"><i class="bi bi-whatsapp"></i></a>&nbsp;
                  <a href="#" target="_blank"><i class="bi bi-instagram"></i></a>&nbsp; 
                  
</div>
</div></div>