<button type="button" class="btn btn-default" id="button3">Add Users</button>
<table class="tab">
    <tr><th>
        FirstName
    </th>
    <th>
        LastName
    </th>
    <th>
        Email
    </th>
    <th>
        password
    </th></tr>
    <tr>
    <td>Haron</td>
    <td>H</td>
    <td>haron@gmail.com</td>
    <td>******</td>
    <td><button type="button" class="btn btn-default"  id="button1">Edit</button></td>
    <td><button type="button" class="btn btn-default" id="button2">Delete</button></td>
</tr>

<tr>
    <td>meruna</td>
    <td>s</td>
    <td>mer12@gmail.com</td>
    <td>******</td>
    <td><button type="button" class="btn btn-default"  id="button1">Edit</button></td>
    <td><button type="button" class="btn btn-default" id="button2">Delete</button></td>
</tr>
<tr>
    <td>Haron</td>
    <td>H</td>
    <td>haron@gmail.com</td>
    <td>******</td>
    <td><button type="button" class="btn btn-default"  id="button1">Edit</button></td>
    <td><button type="button" class="btn btn-default" id="button2">Delete</button></td>
</tr>

<tr>
    <td>meruna</td>
    <td>s</td>
    <td>mer12@gmail.com</td>
    <td>******</td>
    <td><button type="button" class="btn btn-default"  id="button1">Edit</button></td>
    <td><button type="button" class="btn btn-default" id="button2">Delete</button></td>
</tr><tr>
    <td>Haron</td>
    <td>H</td>
    <td>haron@gmail.com</td>
    <td>******</td>
    <td><button type="button" class="btn btn-default"  id="button1">Edit</button></td>
    <td><button type="button" class="btn btn-default" id="button2">Delete</button></td>
</tr>

<tr>
    <td>meruna</td>
    <td>s</td>
    <td>mer12@gmail.com</td>
    <td>******</td>
    <td><button type="button" class="btn btn-default"  id="button1">Edit</button></td>
    <td><button type="button" class="btn btn-default" id="button2">Delete</button></td>
</tr><tr>
    <td>Haron</td>
    <td>H</td>
    <td>haron@gmail.com</td>
    <td>******</td>
    <td><button type="button" class="btn btn-default"  id="button1">Edit</button></td>
    <td><button type="button" class="btn btn-default" id="button2">Delete</button></td>
</tr>

<tr>
    <td>meruna</td>
    <td>s</td>
    <td>mer12@gmail.com</td>
    <td>******</td>
    <td><button type="button" class="btn btn-default"  id="button1">Edit</button></td>
    <td><button type="button" class="btn btn-default" id="button2">Delete</button></td>
</tr><tr>
    <td>Haron</td>
    <td>H</td>
    <td>haron@gmail.com</td>
    <td>******</td>
    <td><button type="button" class="btn btn-default"  id="button1">Edit</button></td>
    <td><button type="button" class="btn btn-default" id="button2">Delete</button></td>
</tr>

<tr>
    <td>meruna</td>
    <td>s</td>
    <td>mer12@gmail.com</td>
    <td>******</td>
    <td><button type="button" class="btn btn-default"  id="button1">Edit</button></td>
    <td><button type="button" class="btn btn-default" id="button2">Delete</button></td>
</tr><tr>
    <td>Haron</td>
    <td>H</td>
    <td>haron@gmail.com</td>
    <td>******</td>
    <td><button type="button" class="btn btn-default"  id="button1">Edit</button></td>
    <td><button type="button" class="btn btn-default" id="button2">Delete</button></td>
</tr>

<tr>
    <td>meruna</td>
    <td>s</td>
    <td>mer12@gmail.com</td>
    <td>******</td>
    <td><button type="button" class="btn btn-default"  id="button1">Edit</button></td>
    <td><button type="button" class="btn btn-default" id="button2">Delete</button></td>
</tr><tr>
    <td>Haron</td>
    <td>H</td>
    <td>haron@gmail.com</td>
    <td>******</td>
    <td><button type="button" class="btn btn-default"  id="button1">Edit</button></td>
    <td><button type="button" class="btn btn-default" id="button2">Delete</button></td>
</tr>

<tr>
    <td>meruna</td>
    <td>s</td>
    <td>mer12@gmail.com</td>
    <td>******</td>
    <td><button type="button" class="btn btn-default"  id="button1">Edit</button></td>
    <td><button type="button" class="btn btn-default" id="button2">Delete</button></td>
</tr><tr>
    <td>Haron</td>
    <td>H</td>
    <td>haron@gmail.com</td>
    <td>******</td>
    <td><button type="button" class="btn btn-default"  id="button1">Edit</button></td>
    <td><button type="button" class="btn btn-default" id="button2">Delete</button></td>
</tr>

<tr>
    <td>meruna</td>
    <td>s</td>
    <td>mer12@gmail.com</td>
    <td>******</td>
    <td><button type="button" class="btn btn-default"  id="button1">Edit</button></td>
    <td><button type="button" class="btn btn-default" id="button2">Delete</button></td>
</tr><tr>
    <td>Haron</td>
    <td>H</td>
    <td>haron@gmail.com</td>
    <td>******</td>
    <td><button type="button" class="btn btn-default"  id="button1">Edit</button></td>
    <td><button type="button" class="btn btn-default" id="button2">Delete</button></td>
</tr>

<tr>
    <td>meruna</td>
    <td>s</td>
    <td>mer12@gmail.com</td>
    <td>******</td>
    <td><button type="button" class="btn btn-default"  id="button1">Edit</button></td>
    <td><button type="button" class="btn btn-default" id="button2">Delete</button></td>
</tr>
</table>