<h1>Privacy Policy</h1>
 <h2>Personal identification information</h2>
<p>We may collect personal identification information
     from Users in a variety of ways, including, but not limited to,
      when Users visit our site, register on the site, fill out a form, 
      and in connection with other activities, services, features or resources
       we make available on our Site. Users may be asked for, when appropriate,
     name, email address, mailing address and phone number. Users may, however, visit our Site anonymously. We will collect personal identification information from Users only if they voluntarily submit such information to us. Users can always refuse to supply personally identification information, except that 
    it may prevent them from engaging in certain Site related activities.</p>
<h2>Non-personal identification information</h2>
<p>We may collect non-personal identification information about Users whenever they interact with our Site. Non-personal identification information may include the browser name, the type of computer and technical information about Users means of connection to our Site, such as the operating system and
     the Internet service providers utilized and other similar information.</p>
<h2>Web browser cookies</h2>
<p>Our Site may use “cookies” to enhance user experience. Users’ web browsers place cookies on their hard drive for record-keeping purposes and sometimes track information about them. User may choose to set their web browser to refuse cookies, or to alert you when cookies are being sent.
 If users do so, note that some parts of the site may not function properly.</p>
<h2>How we use collected information</h2>
<ol>
    <li>Heptagon may collect and use Users personal information for the following purposes:To improve customer service</li>
    <li>Information you provide helps us respond to your customer service requests and support needs more efficiently:To personalize user experience</li>
    <li>We may use information in the aggregate to understand how our Users as a group use the services and resources provided on our Site:To improve our Site</li>
    <li>We may use feedback you provide to improve our products and services:To send periodic emails</li>
    <li>We may use the email address to send User information and updates pertaining to their order. It may also be used to respond to their inquiries, questions, and/or other requests.</li>
</ol>
<p>Our Services are designed to allow you to assign tasks to field workers, 
    communicate with your field workers and customers (“Users”), 
    and view information pertaining to your field workers’ activity.
     Heptagon does it by using the GPS and other sensors on devices 
     that runs Heptagon application on it. Some information is 
     automatically collected from or about your Users and field
      workers when you use our Services and may include,for example,
       geographic coordinates, phone numbers, names, and addresses.</p>